################################################
###       environment config file            ###
################################################
SOURCE_DIR=./www
NETWORK_IP=10.10.0.0/16


#################### Nginx #####################
NGINX_VERSION=nginx:1.14.2-alpine
NGINX_HTTP_HOST_PORT=80
NGINX_HTTPS_HOST_PORT=443
NGINX_CONFD_DIR=./conf/conf.d
NGINX_CONF_FILE=./conf/nginx.conf
NGINX_LOG_DIR=./log
NGINX_WEB_SERVER_IP=10.10.0.10


#################### PHP-FPM 7.2 ####################
PHP72_VERSION=luzucheng/php7.2.15-fpm-alpine-ext:latest
PHP72_CLI_VERSION=luzucheng/php7.2.15-cli-alpine-ext:latest
PHP72_PHP_CONF_FILE=./conf/php.ini
PHP72_FPM_CONF_FILE=./conf/php-fpm.conf


#################### PHP-FPM 5.6 ####################
PHP56_VERSION=luzucheng/php5.6-fpm-alpine-ext:1.1
PHP56_CLI_VERSION=luzucheng/php5.6-cli-alpine-ext:1.1
PHP56_PHP_CONF_FILE=./conf/php.ini
PHP56_FPM_CONF_FILE=./conf/php-fpm.conf


#################### CROND #####################
CROND_CONF_FILE=./conf/crontab.conf
CROND_LOG_DIR=./log


#################### SUPERVISOR #####################
SUPERVISOR_LOG_DIR=./log
SUPERVISOR_CONF_FILE=./conf/supervisord.conf
SUPERVISOR_CONF_DIR=./conf/supervisor


#################### MySQL #####################
MYSQL_VERSION=5.7.25
MYSQL_HOST_PORT=3306
MYSQL_ROOT_PASSWORD=123456
MYSQL_DATA_DIR=./mysql
MYSQL_CONF_FILE=./conf/mysql.cnf
MYSQL_HOST_IP=10.10.0.2


#################### Redis #####################
REDIS_VERSION=5.0.3-alpine
REDIS_HOST_PORT=6379
REDIS_CONF_FILE=./conf/redis.conf
REDIS_HOST_IP=10.10.0.3


################## phpMyAdmin ##################
PHPMYADMIN_HOST_PORT=8080


################# redisMyAdmin #################
REDISMYADMIN_HOST_PORT=8081
